.Markdown h1 {
  font-size: 36px !important;
  font-weight: bold;
  color: #241f38;
  margin-bottom: 12px;
}

.Markdown h2 {
  font-size: 24px;
  font-weight: bold;
  color: #241f38;
  margin-bottom: 12px;
}

.Markdown h3 {
  font-size: 20px;
  font-weight: bold;
  color: #241f38;
  margin-bottom: 12px;
}

.Markdown p {
  font-size: 16;
  color: #241f38d9;
  line-height: 1.625;
  margin-bottom: 20px;
}

.Markdown ul,
ol {
  list-style-type: disc !important;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #241f38d9;
}

.Markdown a {
  color: #7026ed !important;
  text-decoration: underline;
}

.Markdown pre {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #f3effe;
  text-wrap: wrap !important;
  padding: 4px 20px;
  color: #241f38;
  border-left-color: #7026ed;
  border-left-width: 4px;
}

.Markdown pre code {
  text-wrap: wrap !important;
}

.Markdown p img {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #f3effe;
  text-wrap: wrap !important;
  padding: 4px 20px;
  color: #241f38;
  border-left-color: #7026ed;
  border-left-width: 4px;
  width: 100%;
}

.Markdown ul li p {
  margin-bottom: 0;
}
