@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Product Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.GuideDocs::-webkit-scrollbar,
.SmartScroll::-webkit-scrollbar,
.SidebarMenu::-webkit-scrollbar {
  width: 8px;
}

.GuideDocs::-webkit-scrollbar-thumb,
.SmartScroll::-webkit-scrollbar-thumb,
.SidebarMenu::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 4px;
}

p,
span,
button,
a,
input {
  font-family: "Catamaran" !important;
}

::placeholder {
  font-family: "Catamaran" !important;
}
